header {
    color: black;
    padding: 1em 0;
}

.logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color:white;
    font-weight: bold;
}