footer {
    background-color: #333;
    color: white;
    padding: 2em 0;
    text-align: center;
}

footer p {
    margin-bottom: 1em;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-left: 10px;
}

footer ul li a {
    color: white;
}