<section class="about">
    <div class="container">
        <h2>Benefícios Ambientais de Usar Energia Solar</h2>
        <p>A energia solar é uma fonte limpa e renovável que proporciona inúmeros benefícios ao nosso meio ambiente. A utilização da energia solar reduz significativamente a emissão de gases de efeito estufa, contribuindo diretamente para a diminuição do aquecimento global.</p>
        <ul>
        <li><strong>Redução da Poluição:</strong> A energia solar não emite poluentes durante sua geração, ajudando a manter o ar limpo e a preservar a qualidade da água.</li>
        <li><strong>Preservação dos Recursos Naturais:</strong> Ao usar a energia solar, diminuímos a dependência de combustíveis fósseis, preservando assim nossos valiosos recursos naturais.</li>
        <li><strong>Diminuição da Pegada de Carbono:</strong> Cada kilowatt-hora (kWh) de energia solar ajuda a reduzir a pegada de carbono, promovendo um futuro mais sustentável e verde.</li>
        </ul>
    </div>
</section>