.services {
    background-color: #eeeeee;
    padding: 4em 0;
    text-align: center;
}

.services .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.services .service-item {
    background-color: white;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 1 30%;
    margin: 1em 0;
}

.services .service-item h3 {
    margin-bottom: 0.5em;
}

.services .service-item p {
    color: #666;
    font-size: 1em;
}