<section class="services">
    <div class="container">
        <h2>Benefícios Econômicos de Usar Energia Solar</h2>
        <div class="service-items">
            <p>Investir em energia solar não só ajuda a proteger o meio ambiente, mas também oferece consideráveis vantagens econômicas. A implementação de sistemas de energia solar pode trazer grandes economias e até gerar renda ao longo do tempo.</p>
            <article class="service-item">
                <h3>Redução de Custos com Energia</h3>
                <p>Com a energia solar, você pode gerar sua própria eletricidade, reduzindo drasticamente ou até eliminando suas contas de energia elétrica.</p>
            </article>
            <article class="service-item">
                <h3>Alto Retorno sobre Investimento (ROI)</h3>
                <p>Embora o custo inicial possa ser alto, o retorno sobre o investimento da energia solar é significativo devido às economias em longo prazo nas contas de energia.</p>
            </article>
            <article class="service-item">
                <h3>Valorização Imobiliária</h3>
                <p>Imóveis equipados com sistemas de energia solar têm maior valor de mercado, pois oferecem uma fonte energética sustentável e econômica.</p>
            </article>
            <article class="service-item">
                <h3>Incentivos Fiscais e Subsídios</h3>
                <p>Muitos governos oferecem incentivos fiscais, subsídios e descontos para promover a adoção da energia solar, reduzindo ainda mais os custos iniciais.</p>
            </article>
        </div>
    </div>
</section>

